/* Главный файл стилей */

/* Импортируем все модули */
@import './variables.css';
@import './animations.css';
@import './base.css';
@import './layout.css';
@import './header.css';
@import './home.css';
@import './intro.css';
@import './cards.css';
@import './about.css';
@import './technology.css';
@import './products.css';
@import './video.css';
@import './mission.css';
@import './quality.css';
@import './footer.css';
@import './contacts.css';
@import './backgrounds.css';
@import './responsive.css';

/* Правила для устранения разрывов между секциями */
section {
  margin: 0;
  padding: 0;
}

section:not(:first-child) {
  margin-top: -2px !important;
} 